*{
	padding: 0;
	margin: 0;
}

.editp-body{
	background-color: #E1E1DD;
}

.editp-main{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.editp-picdiv, .editp-formdiv{
	background-color: blue;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%
}

.editp-form{
	width: 50%;
	height: 50%;

}

.editp-h1{
	color: #E1E1DD;
}

.editp-button{
	width: 29%;
	height: 5vh;
	border: none;
	
}

#editprofile-submit{
	background-color: #EFF059;
	width: 29%;
	height: 5vh;
	border: none;

}

#editprofile-back{
	background-color: #EFF059;
	width: 29%;
	height: 5vh;
	border: none;
	margin-left: 2vw;

}





#upload{
	color: #E1E1DD;
	
}

.editp-profilepic{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

