*{
	padding: 0;
	margin: 0;
}

.editpass-body{
	background-color: #E1E1DD;
}

.editpass-main{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.editpass-picdiv, .editpass-formdiv{
	background-color: blue;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%
}

.editpass-form{
	width: 50%;
	height: 50%;

}

.editpass-input{
	border: 1px solid #032CBF;
	width: 100%;
	height: 10%;
    padding: 3px;
    padding-left: 5px;
    font-size: 16px;

}

.editpass-label{
	font-size: 16px;
	color: #E1E1DD;
}

.editpass-h1{
	color: #E1E1DD;
}

.editpass-button{
	width: 29%;
	height: 5vh;
	border: none;
	
}

.editpass-passmatch{
	color: yellow;
}

.editpass-submit{
	background-color: #EFF059;

}

